* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

span {
  font-size: 0.9rem;
  color: #757373;
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

nav h1 {
  font-size: 30px;
  color: rgb(35, 35, 85);
  cursor: pointer;
  font-weight: 700;
}
nav a {
  text-decoration: none;
}

nav .nav-links {
  display: flex;
}

nav .fa {
  display: none;
}
nav .nav-links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-links ul li {
  list-style: none;
  margin-left: 30px;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .nav-links ul li a.active,
nav .nav-links ul li a:hover {
  color: #fdc93b;
}

.carousel-img {
  height: 700px;
  width: 100%;
}
.crausal-h1 {
  margin-bottom: 250px;
}

.Book-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: white;
  position: relative;
  cursor: pointer;
}
.Discover-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 50px;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: yellowgreen;
  position: relative;
  cursor: pointer;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border: 1px solid #f44336;
  color: #f44336;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  color: #fff;
}

.about {
  margin-top: 50px;
  width: 100%;
  height: 86vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about_title {
  font-size: 19px;
  font-weight: 700;
  color: rgb(240, 140, 47);
  letter-spacing: 1px;
  position: relative;
}
.about_title::after {
  position: absolute;
  content: "";
  background-color: rgb(240, 140, 47);
  height: 3px;
  width: 74px;
  top: 50%;
  left: 110px;
  margin-top: -1px;
}
.heading_about {
  font-size: 50px;
  font-weight: 700;
  line-height: 67px;
  color: rgba(0, 0, 0, 0.8);
}
.para_about {
  margin: 19px 0px;
  font-size: 19px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
  line-height: 37px;
}
.images_container {
  width: 100%;
  height: 100%;
}
.images_hotel_container {
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.image_hotel_1 {
  display: inline-block;
  width: 75%;
  height: 80%;
  background-color: yellow;
  margin-top: 18%;
  background-image: url(Image/hotel\ outer\ view.jpg);
  background-position: center;
  background-size: cover;
}
.image_hotel_2 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 183, 255);
  background-image: url(Image/hotel\ outlet.jpg);
  background-position: center;
  background-size: cover;
}
.image_hotel_3 {
  display: inline-block;
  width: 60%;
  height: 60%;
  background-color: rgb(255, 51, 0);
  background-image: url(Image/hotel\ room.jpg);
  background-position: center;
  background-size: cover;
}
.image_hotel_4 {
  display: inline-block;
  width: 80%;
  height: 80%;
  background-color: rgb(255, 0, 221);
  background-image: url(Image/hotel\ pool.jpg);
  background-position: center;
  background-size: cover;
}

.footer_area {
  margin-top: 40px;
  height: 50vh;
  background-color: rgb(14, 30, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer {
  width: 90%;
}
.logo_footer {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}
.logo_footer span {
  color: yellow;
}
footer h3 {
  color: rgb(143, 142, 142);
  font-size: 23px;
  margin: 17px 0px;
}
.para_footer {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  font-weight: 400;
  margin: 7px 0px;
}
.para_footer_2 {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
}
.blogs_section_footer {
  color: white;
  font-weight: 500;
  margin-bottom: 36px;
}
.blogs_footer {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}
.blog_title {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.para_blogs_footer {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  margin: 14px 0px;
}
.links_items_footer {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s ease;
}
.links_items_footer ul li a {
  color: white;
}
.links_items_footer span {
  padding: 0px 4px;
  font-size: 13px;
}
.m-2 {
  list-style-type: none;
}
.links_items_footer:hover {
  letter-spacing: 2px;
}
@media (max-width: 769px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  nav h1 {
    font-size: 15px;
  }

  nav .fa {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }

  nav .nav-links ul {
    display: block;
  }

  nav .nav-links ul.active {
    right: 0;
  }
  nav .nav-links ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .nav-links ul li a {
    color: #fff;
  }
  .row {
    flex-direction: column;
}
}

@media (max-width: 1320px) {
  .home_section,
  .about,
  .services_area,
  .destination,
  .testimonials,
  .footer_area {
    width: 100%;
    height: auto;
  }
  .heading_about {
    font-size: 40px;
    line-height: 55px;
  }
  .image_hotel_1 {
    display: inline-block;
    width: 90%;
    height: 85%;
  }
  .image_hotel_2 {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .image_hotel_3 {
    display: inline-block;
    width: 70%;
    height: 60%;
  }
  .image_hotel_4 {
    display: inline-block;
    width: 90%;
    height: 80%;
  }
}